

@font-face {
    font-family:"FoundersGrotesk" ;
    src: url(../font/FoundersGrotesk-Light.ff890ce3.woff2) format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: "FoundersGrotesk";
    src: url(../font/FoundersGrotesk-Medium.c1b5264c.woff2) format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url(../font/HelveticaNeue-Thin.9056df93.woff2) format('woff2');
    font-weight: 100;
}